
@media screen and (min-width: 1024px){


#basket h2{
    color: #861710;
}

#content{

    background-color: #fff;
    height: 100%;
    padding-bottom: 5px;
    min-height: 700px;
}

#content .content{
    padding-top: 6px;
    width: 700px;
    margin: 0 auto;
    height: 100%;
}

#content .addedToBasketProduct{
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    margin-top: -1px;
    height: 175px;
    width: 100%;
    font-family: "Bebas-Neue", sans-serif;
}

#content .addedToBasketProduct:hover{
    background-color: #ebebeb;
}

#content .addedToBasketProduct img{
    margin-top: 10px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    float: left;
}

#content .addedToBasketProduct img:hover{
    cursor: pointer;
}

#content .addedToBasketProduct .description{
    margin-top: 30px;
    margin-left: 50px;
    float: left;
}

#content .addedToBasketProduct .number{
    position: relative;
    right: 100px;
    top: 35px;
    float: right;
}

#content .addedToBasketProduct .number h3{
    text-align: center;
    margin-bottom: 10px;
}

#content .addedToBasketProduct .number input{
    background-color: inherit;
    text-align: center;
    width: 31px;
    height: 31px;
    position: relative;
    bottom: 1px;
    color: #000;
    font-size: 22px;
    border: solid 2px #000;
}

#content .addedToBasketProduct .number input:hover{
    cursor: default;
}

#content .addedToBasketProduct .number a{
    margin: 0 10px;
    text-align: center;
    padding: 2px 12px;
    border: solid 1px #000;
    font-size: 24px;
    font-weight: bold;
}

#content .addedToBasketProduct .number a:hover{
    background-color: #999999;

}

#content .addedToBasketProduct .number a:active{
    background-color: #616161;
}

#content .addedToBasketProduct .number #minus{
    padding: 2px 13px;

}


#content .addedToBasketProduct .delete{
    position: relative;
    top: 10px;
    left: 140px;
    float: right;
    padding: 0 14px;
    background-color: #bf0000;
    color: white;
    font-size: 30px;
}


#content .addedToBasketProduct .delete:hover{
    background-color: rgba(227, 0, 0, 0.7);
    color: white;
}

#content .addedToBasketProduct .delete:active{
    background-color: rgb(109, 0, 0);
    color: white;
}

#content .container .buyProducts{

}

#content .container .cleanField{
    margin-top: 20px;
    margin-left: 185px;
    margin-bottom: 15px;
}

#content .container .buy{
    font-family: "Bebas-Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 30px;
    background-color: rgba(255, 172, 27, 0.67);
}

#content .container .buy:hover{
    background-color: rgba(255, 173, 28, 0.91);
}

#content .container .cleanField .clean {
    margin-left: 285px;
    font-family: "Bebas-Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 30px;
    background-color: rgba(191, 52, 27, 0.69);
}

#content .container .cleanField .clean:hover {
    background-color: rgba(191, 52, 27, 0.92);
}

}

@media screen and (max-width: 1023px) and (min-width: 200px){
    #basket h2{
        color: #861710;
    }

    #content{
        background-color: #fff;
        height: 100%;
        min-height: 700px;
    }

    #content .content{
        width: 100%;
        margin: -8px auto 0 auto;
        height: 100%;
    }

    #content .addedToBasketProduct{

        border-bottom: solid 1px #000;
        border-top: solid 1px #000;
        height: 375px;
        width: 100%;
        font-family: "Bebas-Neue", sans-serif;
    }

    #content .addedToBasketProduct img{
        margin-top: 30px;
        margin-left: 50px;
        width: 300px;
        height: 300px;
        float: left;
    }

    #content .addedToBasketProduct .description{
        margin-top: 30px;
        margin-left: 50px;
        font-size: 48px;
        float: left;
    }

    #content .addedToBasketProduct .number{
        display: none;
    }

    


    #content .addedToBasketProduct .delete{
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        padding: 0 40px;
        background-color: #bf0000;
        color: white;
        font-size: 96px;
    }


    #content .addedToBasketProduct .delete:hover{
        background-color: rgba(227, 0, 0, 0.7);
        color: white;
    }

    #content .addedToBasketProduct .delete:active{
        background-color: rgb(109, 0, 0);
        color: white;
    }

    .container{


    }
}