*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Bebas-Neue';
    src: url(../fonts/bebas_neue/BebasNeue-Regular.otf);
}

@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster/LobsterRegular.ttf);
}

@font-face {
    font-family: 'Gudea-Regular';
    src: url(../fonts/Gudea/Gudea-Regular.ttf);
}

img{
    max-width: 100%;
    width: auto;
    height: auto\9;
}

a{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1024px){

    #wrapper{
        width: 100%;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .container{
        height: 100%;
        margin: 0 auto;
        max-width: 100%;
        width: 1024px;
    }
    #header{
        height: 90px;
        width: 100%;
    }

    #header .nameSite{
        margin-left: 38px;
        float: left;
    }

    #header h1{
        color: #000000;
        margin-top: 10px;
        width: 20%;
        font-size: 49px;
        font-family: 'Lobster', sans-serif;

    }

    #header input{
        border: solid #000 1px;
        width: 60%;
        margin-top: 26px;
        margin-left: 10%;
        max-width: 460px;
        height: 33px;
        float: left;
        font-family: 'Gudea-Regular', sans-serif;
        font-size: 20px;
        padding-left: 10px;
        outline: none;
        background: url(../img/basket/search.png) no-repeat;
        background-position-x: 440px;
        background-position-y: 5px;
    }


    #header #basket{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 100%;
        width: 15%;
        margin-left: 6.4%;
        float: left;
    }

    #header #basket img{
        float: left;
        margin-top: 22px;
    }

    #header #basket h2{
        float: left;
        font-size: 33px;
        margin-top: 24px;
        margin-left: 10px;
        font-family: 'Bebas-Neue', sans-serif;
    }

    #header #basket .counterOfProducts{
        background-color: #c70c12;
        color: #fff;
        font-family: "Bebas-Neue", sans-serif;
        width: 20px;

        height: 20px;
        border-radius: 10px;
        position: relative;
        top: 47px;
        left: 25px;
        z-index: 1;
        margin-top: -20px;
    }

    #header #basket .counterOfProducts h5{
        position: relative;
        top: 2px;
        width: 20px;
        text-align: center;
    }

    #navigation{
        border-top: solid 1px #000000;
        height: 38px;
        width: 100%;
        background-color: #ffffff;
    }

    #navigation .menu{
        display: none;
    }

    #navigation nav{
        cursor: default;
        width: 1024px;
        margin-left: 20px;
    }

    #navigation nav ul li{
        margin-left: -4px;
        display: inline;
        text-transform: uppercase;
        font-family: 'Bebas-Neue', sans-serif;
        font-size: 21px;
        width: 100px;
        text-align: center;
    }

    #navigation nav ul li a{
        margin: 0;
        padding: 6px 5% 7px 5%;
        color: #000000;
    }

    #navigation nav ul li a:hover{
        background-color: #999999;
    }

    #navigation nav ul{
        padding-top: 6px;
    }

    .slide1{
        width: 100%;
        height: 450px;
        background: url(../img/slides/slide1.jpg) no-repeat;
        background-size: cover;
        transition-duration: 0.3s;
    }

    .slide2{
        width: 100%;
        height: 450px;
        background: url(../img/slides/slide2.jpg) no-repeat;
        background-size: cover;
        transition-duration: 0.3s;
    }

    .slide3{
        width: 100%;
        height: 450px;
        background: url(../img/slides/slide3.jpg) no-repeat;
        background-size: cover;
        transition-duration: 0.3s;
    }

    .slide4{
        width: 100%;
        height: 450px;
        background: url(../img/slides/slide4.jpg) no-repeat;
        background-size: cover;
        transition-duration: 0.3s;

    }

    #advertising_content .prev{
        text-align: center;
        color: #fff;
        font-size: 54px;
        position: relative;
        float: left;
        padding-left: 12%;
        padding-right: 20px;
        padding-top: 170px;
        height: 280px;
        width: 80px;
    }

    #advertising_content .prev:hover{
        cursor: pointer;
        background: linear-gradient(to right, rgba(0,0,0,0.7) , rgba(0,0,0,0));
    }

    #advertising_content .prev:active{
        cursor: pointer;
        background: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,0));
    }

    #advertising_content .next{
        box-shadow: black;
        text-align: center;
        color: #fff;
        font-size: 54px;
        position: relative;
        float: right;
        padding-right: 12%;
        padding-left: 20px;
        padding-top: 170px;
        height: 280px;
        width: 80px;
    }

    #advertising_content .next:hover{
        cursor: pointer;
        background: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.7));
    }

    #advertising_content .next:active{
        cursor: pointer;
        background: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,1));
    }

    #advertising_content .shopNow{
         font-family: "Bebas-Neue", sans-serif;
         font-size: 34px;
         font-weight: bold;
         text-transform: uppercase;
         color: #ffffff;
         padding: 10px 40px;
         position: relative;
         top: 370px;
         background-color: #9e9e9e;
         border-radius: 5px;
         transition-duration: 0.1s;
     }

    #advertising_content .shopNow:hover{
        background-color: #000000;
        color: #ffffff;
        transition-duration: 0.1s;
    }

    #advertising{
        background-color: #d1d1d1;
    }

    #advertising .row{

        height: 200px;
    }

    #advertising .col-4{
        width: 28%;
        float: left;
    }

    #advertising .contentInAdvertising{
        padding: 20px 27px 20px 27px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #advertising .contentInAdvertising:hover{
       background-color: #fff;
    }

    #advertising .contentInAdvertising .text{
        float: left;
        margin-top: 10px;
        margin-left: 6px;
        font-family: "Bebas-Neue", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    #advertising .contentInAdvertising a{
        font-size: 34px;
        color: #fff;
        border-radius: 5px;
        background-color: #000000;
        padding: 5px 24px;
        transition-duration: 0.5s;
    }

    #advertising .contentInAdvertising a:hover{
        background-color: #4d4d4d;
        transition-duration: 0.5s;
    }

    #advertising .contentInAdvertising h3{
        margin-top: 20px;
        width: 100px;
        font-size: 22px;
        margin-bottom: 10px;
    }

    #advertising .imgProductOnHome{
        margin-left: 17px;
        float:left;
        width: 160px;
        height: 160px;
    }

    #content{

        background-color: #565656;
    }

    #content .container .empty{
        font-family: "Bebas-Neue", sans-serif;
        color: rgba(255, 51, 27, 0.51);
        font-size: 88px;
        width: 1024px;
        text-align: center;
    }

    #content .titleContent{
        background-color: #999;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #content .titleContent h1{
        text-align: center;
        font-family: "Bebas-Neue", sans-serif;
    }

    #content .fieldProducts{

        height: 590px;
        width: 890px;
        margin: 0 auto;
    }

    #content .fieldProducts .row {

    }

    #content .fieldProducts .row .product{
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border: solid 1px rgba(0,0,0,0.5);
        margin: 20px;
        float: left;
        width: 254px;
        height: 254px;
        font-family: "Bebas-Neue", sans-serif;
    }

    #content .fieldProducts .row .product img{
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 46px;
        width: 160px;
        height: 160px;
    }

    #content .fieldProducts .row .product .nameAndPrice{
        width: 100px;
        height: 50px;
        float: left;
    }

    #content .fieldProducts .row .product h2{

        margin-left: 30px;
        font-size: 16px;
    }

    #content .fieldProducts .row .product h3{
        font-size: 26px;
        margin-left: 30px;
    }

    #content .fieldProducts .row .product a{
        letter-spacing: 1px;
        border-radius: 3px;
        margin-left: 18px;
        padding: 15px 30px;
        background-color: #999999;
        float: left;
        font-size: 18px;
        transition-duration: 0.5s;
    }

    #content .fieldProducts .row .product a:hover{
        transition-duration: 0.5s;
        background-color: #696969;
    }

    #footer{
        background-color: #999999;
        height: 50px;
    }

    #footer h1{
        padding-top: 16px;
        text-align: center;
        font-family: "Bebas-Neue", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
    }

    #content .productsListing{
        height: 885px;
        width: 890px;
        margin: 0 auto;
    }

    .aWithoutStyle{
        background-color: inherit;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 200px){

    #wrapper{
        font-family: "Bebas-Neue", sans-serif;
        width: 100%;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }



    #header{
        height: 150px;
        width: 100%;
        border-bottom: solid 1px #000;
    }

    #header .nameSite{
        margin-left: 30%;
        float: left;

    }

    #header .nameSite h1{
        color: #000000;
        margin-top: 10px;
        margin-left: 4%;
        width: 20%;
        font-size: 104px;
        font-family: 'Lobster', sans-serif;
    }

    #header input{
        display: none;
    }

    #header #basket{
        float: left;
        margin-left: 20%;
    }

    #header #basket img{
        position: relative;
        top: -30px;
        width:100px;
        height: 100px;
    }

    #basket .counterOfProducts{
        font-size: 56px;
        position: relative;
        left: 76px;
        top: 5px;
        background-color: #C70C12;
        width: 55px;
        height: 55px;
        text-align: center;
        border-radius: 25px;
        color: #fff;
    }

    #basket h2{
        display: none;
    }


    #navigation{
        position: relative;

    }

    #navigation .menu{
        background-color: #ffffff;
        width: 105px;
        height: 100%;
        position: relative;
        top: -153px;
        left: 0;
        padding: 30px 40px 28px 40px;
    }

    #navigation .menu div{
        width: 105px;
        height: 8px;
        background-color: #000000;
        margin: 16px 0;
        border-bottom: 1px solid #000;
    }

    #navigation #nav{
        display: none;
        position: relative;
        top: -155px;
        width: 100%;

    }


    #navigation nav ul li {
        list-style-type: none;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #999999;
        border-bottom: solid 1px #000000;
    }

    #navigation nav ul li a{

        font-size: 54px;

    }

    #advertising_content {
        display: none;
    }

    #advertising{
        display: none;
    }

    #content .titleContent{
        position: relative;
        top: -8px;
        width: 100%;
        background-color: #999;
        margin-top: -140px;
        height: 100px;
    }

    #content .titleContent h1{
        text-align: center;
        font-size: 100px;

    }

    #content .fieldProducts{
        margin-top: -8px;
    }

    #content .product{
        width: 100%;
        background-color: #6e6e6e;
        height: 500px;
        border-bottom: solid 2px #fff;
        border-top: solid 2px #000;
        margin-bottom: -2px;
    }

    #content .product img{
        float: left;
        margin-left: 30px;
        margin-top: 50px;
        width: 400px;
        height: 400px;
    }

    #content .product .nameAndPrice{
        float: left;
        font-size: 68px;
        color: white;
        margin-top: 40px;
        margin-left: 100px;
    }

    #content .product a{
        margin-top: 30px;
        float: left;
        font-size: 88px;
        font-weight: bold;
        margin-left: 100px;
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 5px;
    }

    #footer{
        height: 80px;
        text-align: center;
        background-color: #fff;
        padding-top: 50px;
    }


}

