
#content{
    background-color: #fff;
    height: 100vh;
    min-height: 700px;
}

#content .productDetail{

}

#content .content{
    margin: 0 auto;
    width: 1000px;
    height: 100%;

}

#content img{
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    width: 40%;
    height: 40%;
}

#content .productDetail{

}

#content .textProductDetail{
    height: 500px;
    width: 35%;
    margin-left: 100px;
    padding-top: 5%;
    padding-left: 5%;
    float: left;
    font-family: "Bebas-Neue", sans-serif;
}

#content .textProductDetail h1{
    font-size: 34px;
}

#content .textProductDetail h2{
    margin-top: 10px;
    font-size: 38px;
}

#content .textProductDetail h3{
    margin-top: 50px;
}

#content .textProductDetail .colorChooser{
    width: 100%;
    margin-left: -10px;
    height: 60px;
}

#content .textProductDetail .colorChooser .sizeSquare{
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    float: left;
}

#content .textProductDetail .colorChooser .sizeSquare:hover{
    border: solid 2px #000;
    margin-top: 8px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#content .textProductDetail .colorChooser .squareBlack{
    background-color: black;
}

#content .textProductDetail .colorChooser .squareBlue{
    background-color: #2e80ae;
}

#content .textProductDetail .colorChooser .squarePink{
    background-color: #ae21a0;
}

#content .textProductDetail .colorChooser .squareYellow{
    background-color: #fbff2c;
}

#content .textProductDetail .colorChooser .squareRed{
    background-color: #be0500;
}

#content .textProductDetail .colorChooser .squareGreen{
    background-color: #1c9c00;
}

#content .textProductDetail .colorChooser .squareWhite{
    background-color: #cecece;
}

#content .textProductDetail .colorChooser .squareGray{
    background-color: #613218;
}


#content .textProductDetail a{
    border-radius: 5px;
    position: relative;
    top: 30px;
    font-size: 42px;
    padding: 10px 20px;
    background-color: #999999;
}

#content .textProductDetail a:hover{
    background-color: #6c6c6c;

}

#content .textProductDetail  a:active{
    background-color: #656565;
    box-shadow: 3px 3px 10px #000 inset;
    padding: 14px 16px 6px 24px;
    top: 34px;

}

#content .content .pictureChooser{
    margin-left: 200px;
}

#content .content .pictureChooser img{
    margin-top: -10px;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 10px;
}

#footer{
    padding-top: 10px;
}

@media screen  and (max-width: 1023px) and (min-width: 200px){

    #content{
        background-color: #fff;
        height: 100vh;
        min-height: 700px;
    }

    #content .productDetail{

    }

    #content .content{
        margin: 0 auto;
        width: 100%;
        height: 100%;

    }

    #content img{
        margin-left: 10%;
        margin-top: 5%;
        float: left;
        width: 40%;
        height: 40%;
    }

    #content .productDetail{

    }

    #content .textProductDetail{
        height: 500px;
        width: 30%;
        margin-left: 100px;
        padding-top: 5%;
        padding-left: 5%;
        float: left;
        font-family: "Bebas-Neue", sans-serif;
    }

    #content .textProductDetail h1{
        font-size: 34px;
    }

    #content .textProductDetail h2{
        margin-top: 10px;
        font-size: 38px;
    }

    #content .textProductDetail h3{
        margin-top: 50px;
    }

    #content .textProductDetail .colorChooser{
        width: 100%;
        margin-left: -10px;
        height: 60px;
    }

    #content .textProductDetail .colorChooser .sizeSquare{
        margin-top: 10px;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        float: left;
    }

    #content .textProductDetail .colorChooser .sizeSquare:hover{
        border: solid 2px #000;
        margin-top: 8px;
        margin-left: 8px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #content .textProductDetail .colorChooser .squareBlack{
        background-color: black;
    }

    #content .textProductDetail .colorChooser .squareBlue{
        background-color: #2e80ae;
    }

    #content .textProductDetail .colorChooser .squarePink{
        background-color: #ae21a0;
    }

    #content .textProductDetail .colorChooser .squareYellow{
        background-color: #fbff2c;
    }

    #content .textProductDetail .colorChooser .squareRed{
        background-color: #be0500;
    }

    #content .textProductDetail .colorChooser .squareGreen{
        background-color: #1c9c00;
    }

    #content .textProductDetail .colorChooser .squareWhite{
        background-color: #cecece;
    }

    #content .textProductDetail .colorChooser .squareGray{
        background-color: #613218;
    }


    #content .textProductDetail a{
        border-radius: 5px;
        position: relative;
        top: 30px;
        font-size: 42px;
        padding: 10px 20px;
        background-color: #999999;
    }

    #content .textProductDetail a:hover{
        background-color: #6c6c6c;

    }

    #content .textProductDetail  a:active{
        background-color: #656565;
        box-shadow: 3px 3px 10px #000 inset;
        padding: 14px 16px 6px 24px;
        top: 34px;

    }

    #content .content .pictureChooser{
        position: relative;
        bottom: 50px;
        margin-left: 140px;
    }

    #content .content .pictureChooser img{
        margin-top: -10px;
        width: 70px;
        height: 70px;
        float: left;
        margin-left: 10px;
    }

    #footer{
        padding-top: 10px;
    }
}
